@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.body {
  display: flex;
  height: 100vh;
  padding: 0;
  margin: 0;

  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

main {
  flex: 1 1 70%;
  background: rgb(190, 178, 112);
}

aside {
  flex: 0 0 400px;
  background: rgb(56, 118, 143);

  display: flex;
  flex-direction: column;
}
.block {
  margin-top: 20px;
}
.block h2 {
  margin: 0;
  font-size: 40px;
  text-align: center;
  padding-bottom: 1rem;
  border-bottom: 2px solid rgb(132 56 125);
  color: purple;
  letter-spacing: 11px;
}

.chat {
  margin: 10px 0;
  flex: 1 1 auto;
  overflow-y: auto;
  overflow-x: hidden;
}
.chat__question-block {
  padding: 1rem;
}
.chat__data {
  font-size: 12px;
  color: #731e74;
  font-weight: 800;
}
.chat__question {
  margin-top: 5px;
  font-size: 18px;
  color: #2c1338;
}
.form-chat {
  margin-bottom: 10px;
}
.form-chat label {
  font-size: 20px;
  padding: 10px;
}
.form-chat textarea {
  margin-top: 10px;
  display: block;
  width: 100%;
  background: inherit;
  outline: none;
  border: 1px solid rgb(87, 87, 87);
  font-size: 1rem;
  padding: 10px;
  resize: none;
  height: 100px;
  border-radius: 20px;
  background: rgba(245, 222, 179, 0.363);
}
.form-chat button {
  text-align: center;
  outline: none;
  padding: 0.5em 1em;
  font-size: 20px;
  max-width: 200px;
  width: 100%;
  display: block;
  margin: 20px 15px 0 auto;
  outline: none;
  border: 0;
  background: rgba(92, 25, 25, 0.699);
  border-radius: 15px;
  box-shadow: 3px 4px 3px 0px #000000a6;
  transition: background 0.2s ease, transform 0.08s ease-in-out, box-shadow 0.08s ease-in-out;
}

.form-chat button:hover {
  background: rgba(92, 25, 25, 1);
}
.form-chat button:active {
  transform: translate(1px, 5px);
  box-shadow: 0 0 0 0px #000000a6;
}
.form-chat button:disabled {
  background: rgba(128, 125, 125, 0.8);
}

.chat {
}
::-webkit-scrollbar {
  width: 8px; /* ширина для вертикального скролла */
  height: 4px; /* высота для горизонтального скролла */
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: rgba(92, 25, 25, 0.699);
  border-radius: 9em;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(92, 25, 25, 1);
}

.log-in {
  position: fixed;
  left: 30px;
  bottom: 50px;
  height: 70px;
  width: 70px;
  border-radius: 100%;
  background: rgb(82, 14, 128);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.modal-overlay {
  background: #625f636c;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 0.3s ease 0.3s;
}

.modal-window {
  transform: translate(-50%, -50%);
  left: 50%;
  right: 0;
  top: -1000%;
  bottom: 0;
  position: fixed;
  z-index: 5;
  min-height: 500px;
  width: 800px;
  border-radius: 50px;
  background: wheat;
  transition: all 0.4s ease 0.3s;
}

.modal.modal-open .modal-window {
  top: 50%;
}
.modal.modal-open .modal-overlay {
  opacity: 1;
  visibility: visible;
}
.modal.modal-open {
  opacity: 1;
}
.modal-window .close {
  position: absolute;
  right: 33px;
  top: 6px;
  font-size: 33px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.modal-window .close:hover {
  align-items: flex-start;
  transform: rotate(180deg);
  color: #2c1338;
}
.modal h3 {
  text-align: center;
  font-size: 40px;
}
.modal ol {
  margin-left: 20px;
  font-size: 20px;
}
.modal p {
  font-size: 20px;
  text-align: center;
}
.error {
  color: red;
}
#auth-form {
  margin: 0 auto;
  width: 400px;
}
.form-label {
  margin-bottom: 50px;
}
.form-label label {
  font-size: 20px;
  display: block;
  margin-bottom: 5px;
}
.form-label input {
  display: block;
  border: 0;
  border-bottom: 1px solid rgb(172, 156, 127);
  outline: none;
  background: none;
  padding: 0.5em;
  width: 100%;
  font-size: 20px;
}
#auth-form button {
  outline: none;
  padding: 0.5em 1em;
  font-size: 20px;
  max-width: 200px;
  width: 100%;
  margin: 20px 15px 0 auto;

  display: block;
  outline: none;
  border: 0;
  background: rgba(92, 25, 25, 0.699);
  border-radius: 15px;
  box-shadow: 3px 4px 3px 0px #000000a6;
  transition: background 0.2s ease, transform 0.08s ease-in-out, box-shadow 0.08s ease-in-out;
}

#auth-form button:hover {
  background: rgba(92, 25, 25, 1);
}
#auth-form button:active {
  transform: translate(1px, 5px);
  box-shadow: 0 0 0 0px #000000a6;
}
#auth-form button:disabled {
  background: rgba(128, 125, 125, 0.8);
}
